@inherits BasicComponent

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <div class="navbar-brand">NFT Faucet</div>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="networks" style=@(SelectedNetworkName != null ? "color: lime;" : string.Empty) Match="NavLinkMatch.All">
                <span class="oi oi-bolt" aria-hidden="true"></span> @("Network" + (SelectedNetworkName != null ? $" [{SelectedNetworkName}]" : string.Empty))
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="providers" style=@(SelectedProviderName != null ? $"color: {(AppState.SelectedProvider.IsConfigured ? "lime" : "#FBBD08")};" : string.Empty)>
                <span class="oi oi-key" aria-hidden="true"></span> @("Provider" + (SelectedProviderName != null ? $" [{SelectedProviderName}]" : string.Empty))
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contracts" style=@(SelectedContractName != null ? "color: lime;" : string.Empty)>
                <span class="oi oi-script" aria-hidden="true"></span> @("Contract" + (SelectedContractName != null ? $" [{SelectedContractName}]" : string.Empty))
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tokens" style=@(SelectedTokenName != null ? "color: lime;" : string.Empty)>
                <span class="oi oi-aperture" aria-hidden="true"></span> @("Token" + (SelectedTokenName != null ? $" [{SelectedTokenName}]" : string.Empty))
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="uploads" style=@(SelectedUploadName != null ? "color: lime;" : string.Empty)>
                <span class="oi oi-cloud-upload" aria-hidden="true"></span> @("Upload" + (SelectedUploadName != null ? $" [{SelectedUploadName}]" : string.Empty))
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mint">
                <span class="oi oi-pin" aria-hidden="true"></span> Mint
            </NavLink>
        </div>
    </nav>
</div>  
