@page "/tokens/new"
@inherits BasicComponent

<PageTitle>Create token</PageTitle>

<form onsubmit="@OnSavePressed">
    <div class="mb-4">
        <h4>Main file</h4>
        <RadzenFileInput Error="@OnMainFileError" @bind-Value=@Model.MainFileData @bind-FileName=@Model.MainFileName @bind-FileSize=@Model.MainFileSize TValue="string" Class="w-100"/>
    </div>

    @if (!string.IsNullOrEmpty(Model.MainFileData) && !string.IsNullOrEmpty(Model.MainFileName) && Model.MainFileSize != null && Model.MainFileSize != 0)
    {
        var mainFileType = DetermineFileType(Model.MainFileName);
        if (!mainFileType.StartsWith("image/") || mainFileType == "image/gif")
        {
            <div class="mb-4">
                <h4>Cover</h4>
                <RadzenFileInput Error="@OnCoverFileError" @bind-Value=@Model.CoverFileData @bind-FileName=@Model.CoverFileName @bind-FileSize=@Model.CoverFileSize TValue="string" Class="w-100"/>
            </div>
        }
    }

    <div class="mb-4">
        <h4>Name</h4>
        <RadzenTextBox Placeholder="YING #668" MaxLength="50" @bind-Value="@Model.Name" Class="w-100"/>
    </div>

    <div class="mb-4">
        <h4>Description</h4>
        <RadzenTextArea Placeholder="YING, ecotype enterprises IP of Inkeverse and the avatar spokesperson for Inkeverse." MaxLength="250" @bind-Value="@Model.Description" Class="w-100"/>
    </div>

    <div style="display: flex; justify-content: end;">
        <RadzenButton Click="@((args) => OnSavePressed())" Disabled="!ModelIsValid" Text="Save" Style="width: 120px"/>
    </div>
</form>
