@page "/step1"
@using NftFaucet.Models.Enums
@using Microsoft.AspNetCore.Components
@inherits Step1Component

<Space Align="center" Direction="DirectionVHType.Vertical" Class="drk-vertical-space-center">
    <SpaceItem Class="drk-full-width">
        <Space Direction="DirectionVHType.Horizontal" Class="drk-vertical-space-center">
            <SpaceItem>
                <Button Type="@ButtonType.Primary" Size="large" OnClick="OnEthereumSelected">
                    <div>Ethereum</div>
                </Button>
                <Button Type="@ButtonType.Primary" Size="large" OnClick="OnSolanaSelected">
                    <div>Solana</div>
                </Button>
            </SpaceItem>
        </Space>
        <Space Direction="DirectionVHType.Horizontal" Class="drk-vertical-space-center">
            <SpaceItem>
                @if (AppState.Storage.NetworkType == NetworkType.Solana)
                {
                    <Select DataSource="@ChainTypes"
                            DefaultValue="@(nameof(EthereumNetwork.SolanaDevnet))"
                            ValueName="@nameof(EnumWrapper<EthereumNetwork>.ValueString)"
                            LabelName="@nameof(EnumWrapper<EthereumNetwork>.Description)"
                            OnSelectedItemChanged="OnNetworkChange">
                    </Select>
                }
            </SpaceItem>
        </Space>
    </SpaceItem>
</Space>


