@page "/uploads/new"
@inherits BasicComponent

<PageTitle>Create upload</PageTitle>
<RadzenContent Container="main">
    <h3>Select uploader</h3>
    <CardList Data="@UploaderCards" @bind-SelectedItems="@SelectedUploaderIds"/>
    <div class="row">
        <div class="col-md-12 text-right">
            <RadzenButton Text="Cancel" Click="@(args => DialogService.Close())" ButtonStyle="ButtonStyle.Secondary" Disabled="IsUploading" Style="width: 120px" Class="mr-1"/>
            <RadzenButton Text="Upload" Icon="eject" BusyText="Uploading..." IsBusy=@IsUploading Click="@(async args => await OnSavePressed())" Disabled="@(SelectedUploader == null || !SelectedUploader.IsConfigured)" Style="width: 180px"/>
        </div>
    </div>
</RadzenContent>
