@using NftFaucetRadzen.Models
@inherits BasicComponent

<RadzenDataList WrapItems="true" Data="@Data" TItem="CardListItem" >
    <Template Context="cardListItem">
        <RadzenCard class=@("box"
                            + (cardListItem.IsDisabled ? " box-disabled" : string.Empty)
                            + (SelectedItems != null && SelectedItems.Contains(cardListItem.Id) ? " box-selected" : string.Empty))
                    Style="width: 250px;" onclick="@(async () => await ToggleSelection(cardListItem))">
            <div class="d-flex flex-row align-items-center">
                @if (SelectedItems != null && SelectedItems.Contains(cardListItem.Id))
                {
                    <CheckmarkIcon Style="position: absolute; top: 1em; right: 1em;"/>
                }
                @if (!string.IsNullOrEmpty(cardListItem.ImageLocation))
                {
                    <RadzenImage Path=@(cardListItem.ImageLocation) Class="float-left mr-3" Style="width: 80px; height: 80px; margin-right: 1em;"/>
                }
                <div style="width: 100%;">
                    @if (!string.IsNullOrEmpty(cardListItem.Header))
                    {
                        <h4 class="mb-0">@cardListItem.Header</h4>
                    }
                    @foreach (var property in cardListItem.Properties ?? Array.Empty<CardListItemProperty>())
                    {
                        if (!string.IsNullOrEmpty(property?.Value))
                        {
                            <div style="font-size: .8em">@property.Name: @property.Value</div>
                        }
                    }
                    <div>
                        @foreach (var badge in cardListItem.Badges ?? Array.Empty<CardListItemBadge>())
                        {
                            if (!string.IsNullOrEmpty(badge?.Text))
                            {
                                <RadzenBadge BadgeStyle="@badge.Style" IsPill="true" Text="@badge.Text"/>
                            }
                        }
                    </div>
                    @if (cardListItem.Configuration != null)
                    {
                        <RadzenButton Icon="build" Click="@(async () => await OpenItemConfigurationDialog(cardListItem))" ButtonStyle="@ButtonStyle.Secondary"
                                      Disabled="SelectedItems == null || !SelectedItems.Contains(cardListItem.Id)"
                                      Style="position: absolute; bottom: 1em; right: 1em;" />
                    }
                </div>
            </div>
        </RadzenCard>
    </Template>
</RadzenDataList>
